    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-0 mt-0 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DWG KIA
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/scout/player/Khan">Khan</a>
              <a class="dropdown-item" href="/scout/player/Canyon">Canyon</a>
              <a class="dropdown-item" href="/scout/player/ShowMaker">ShowMaker</a>
              <a class="dropdown-item" href="/scout/player/Ghost">Ghost</a>
              <a class="dropdown-item" href="/scout/player/BeryL">BeryL</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gen.G
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="/scout/player/Rascal">Rascal</a>
              <a class="dropdown-item" href="/scout/player/Clid">Clid</a>
              <a class="dropdown-item" href="/scout/player/Flawless">Flawless</a>
              <a class="dropdown-item" href="/scout/player/Bdd">Bdd</a>
              <a class="dropdown-item" href="/scout/player/Karis">Karis</a>
              <a class="dropdown-item" href="/scout/player/Ruler">Ruler</a>
              <a class="dropdown-item" href="/scout/player/Life">Life</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dragon X
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="/scout/player/kingen">kingen</a>
              <a class="dropdown-item" href="/scout/player/Pyosik">Pyosik</a>
              <a class="dropdown-item" href="/scout/player/SOLKA">SOLKA</a>
              <a class="dropdown-item" href="/scout/player/BAO">BAO</a>
              <a class="dropdown-item" href="/scout/player/Becca">Becca</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hanwha Life Esport
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown4">
              <a class="dropdown-item" href="/scout/player/Morgan">Morgan</a>
              <a class="dropdown-item" href="/scout/player/DuDu">DuDu</a>
              <a class="dropdown-item" href="/scout/player/Arthur">Arthur</a>
              <a class="dropdown-item" href="/scout/player/yoHan">yoHan</a>
              <a class="dropdown-item" href="/scout/player/Chovy">Chovy</a>
              <a class="dropdown-item" href="/scout/player/Deft">Deft</a>
              <a class="dropdown-item" href="/scout/player/Vsta">Vsta</a>
            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              T1
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown5">
              <a class="dropdown-item" href="/scout/player/Canna">Canna</a>
              <a class="dropdown-item" href="/scout/player/Zeus">Zeus</a>
              <a class="dropdown-item" href="/scout/player/Cuzz">Cuzz</a>
              <a class="dropdown-item" href="/scout/player/Ellim">Ellim</a>
              <a class="dropdown-item" href="/scout/player/Oner">Oner</a>
              <a class="dropdown-item" href="/scout/player/Faker">Faker</a>
              <a class="dropdown-item" href="/scout/player/Clozer">Clozer</a>
              <a class="dropdown-item" href="/scout/player/Teddy">Teddy</a>
              <a class="dropdown-item" href="/scout/player/Gumayusi">Gumayusi</a>
              <a class="dropdown-item" href="/scout/player/Keria">Keria</a>

            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              KT Rolster
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown6">
              <a class="dropdown-item" href="/scout/player/Doran">Doran</a>
              <a class="dropdown-item" href="/scout/player/GIDEON">GIDEON</a>
              <a class="dropdown-item" href="/scout/player/blank">blank</a>
              <a class="dropdown-item" href="/scout/player/Ucal">Ucal</a>
              <a class="dropdown-item" href="/scout/player/Dove">Dove</a>
              <a class="dropdown-item" href="/scout/player/HyBrid">HyBrid</a>
              <a class="dropdown-item" href="/scout/player/Noah">Noah</a>
              <a class="dropdown-item" href="/scout/player/Zzus">Zzus</a>


            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              NS REDFORCE
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown7">
              <a class="dropdown-item" href="/scout/player/Rich">Rich</a>
              <a class="dropdown-item" href="/scout/player/Peanut">Peanut</a>
              <a class="dropdown-item" href="/scout/player/Bay">Bay</a>
              <a class="dropdown-item" href="/scout/player/deokdam">deokdam</a>
              <a class="dropdown-item" href="/scout/player/Kellin">Kellin</a>


            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Live Sandbox
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown8">
              <a class="dropdown-item" href="/scout/player/Summit">Summit</a>
              <a class="dropdown-item" href="/scout/player/OnFleek">OnFleek</a>
              <a class="dropdown-item" href="/scout/player/Croco">Croco</a>
              <a class="dropdown-item" href="/scout/player/FATE">FATE</a>
              <a class="dropdown-item" href="/scout/player/Leo">Leo</a>
              <a class="dropdown-item" href="/scout/player/Route">Route</a>
              <a class="dropdown-item" href="/scout/player/Prince">prince</a>
              <a class="dropdown-item" href="/scout/player/Effort">Effort</a>


            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fredit Brion
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown9">
              <a class="dropdown-item" href="/scout/player/Hoya">Hoya</a>
              <a class="dropdown-item" href="/scout/player/UmTi">UmTi</a>
              <a class="dropdown-item" href="/scout/player/Chieftain">Chieftain</a>
              <a class="dropdown-item" href="/scout/player/Lava">Lava</a>
              <a class="dropdown-item" href="/scout/player/Yaharong">Yaharong</a>
              <a class="dropdown-item" href="/scout/player/Hena">Hena</a>
              <a class="dropdown-item" href="/scout/player/Delight">Delight</a>


            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown10" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Afreeca Freecs
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown10">
              <a class="dropdown-item" href="/scout/player/Kiin">Kiin</a>
              <a class="dropdown-item" href="/scout/player/Dread">Dread</a>
              <a class="dropdown-item" href="/scout/player/Fly">Fly</a>
              <a class="dropdown-item" href="/scout/player/Bang">Bang</a>
              <a class="dropdown-item" href="/scout/player/Lehends">Lehends</a>

            </div>

          </li>
        </ul>
      </div>
    </nav>
